{% extends 'base.html' %}
{% load static %}

{% block header %}
  <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="{% static 'main_app/img20201001_14050692.jpg' %}" alt="Chopper Surfing Image"></a>
    <a class="carousel-item" href="#two!"><img src="{% static 'main_app/img20201001_14473232.jpg' %}"></a>
    <a class="carousel-item" href="#three!"><img src="{% static 'main_app/shedrun_tina.jpg' %}"></a>
    <a class="carousel-item" href="#four!"><img src="{% static 'main_app/shedrun_betty.jpg' %}"></a>
    <a class="carousel-item" href="#five!"><img src="{% static 'main_app/img20201001_16290636.jpg' %}"></a>
  </div>

{% endblock %}

{% block scripts %}

{% endblock %}